TERMINUS_PUBLIC_URL=https://terminus.example-tailnet.ts.net
TERMINUS_TS_HOSTNAME=terminus
TERMINUS_TS_AUTHKEY=REPLACE_WITH_EPHEMERAL_PREAUTHORIZED_TAILSCALE_KEY
TERMINUS_APP_SECRET=REPLACE_WITH_AT_LEAST_64_RANDOM_HEX_CHARACTERS
TERMINUS_DATABASE_USER=terminus
TERMINUS_DATABASE_NAME=terminus_production
TERMINUS_DATABASE_PASSWORD=REPLACE_WITH_RANDOM_PASSWORD
TERMINUS_KEYVALUE_PASSWORD=REPLACE_WITH_RANDOM_PASSWORD
# TERMINUS_CERTIFICATE_URLS=https://internal-ca.example/root.pem
